/* This file contains globally applied CSS. */

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, Helvetica Neue, sans-serif;
  font-display: swap;
  line-height: 1.6;
  font-size: 18px;
  background-color: #231f20;
  color: #fefefe;
  scroll-behavior: smooth;
  background-image: url("/background-pattern.png");
}

* {
  box-sizing: border-box;
}

a {
  color: #ec1b24;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  padding: 0;
  list-style: none;
}
